
<nav class="navbar navbar-inverse navbar-fixed-bottom"><br>
	Made with &nbsp; <span class="glyphicon glyphicon-heart"> and some radioactive <span class="glyphicon glyphicon-trash" > in Santa Monica, CA by <%= link_to "Anna Atiba", "https://github.com/ann-xvii" %> <span class="glyphicon glyphicon-heart">
</nav>

<!-- footer  -->
</div><!-- /.container -->