<div class="about-page">

<h2>Welcome to NLP Curator</h2>

<p>This site was created to help you discover artwork.</p>

<p>Step 1: <span id="home-signup-link"><%= link_to "Create an account.", signup_path %></span></p>

<p>Step 2: Start writing.</p>

<p>Step 3: View your posts analyzed by keywords and sentiment, and view artwork curated using the underlying themes in your work.</p>

</div>