<h1 style="font-weight: 400;">nlp&#8226;curator</h1>

<div class="container fill">
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">

    <div class="active item">
      <div class="fill" id="slide-1">
        
      </div>
    </div>

    <div class="item">
      <div class="fill" id="slide-2">
        
      </div>
    </div>

    <div class="item">
      <div class="fill" id="slide-3">
        
      </div>
    </div>


    <div class="item">
      <div class="fill" id="slide-4">
        
      </div>
    </div>

    <div class="item">
      <div class="fill" id="slide-5">
        
      </div>
    </div>


  </div>
  <div class="pull-center">
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
  </div>
</div>
</div>



<!-- <div class="middle-modal">
  <span class="modal-text-home">Write something interesting...</span>
  <form>
  <span class="modal-form-home">
    <input type="text" placeholder="Write something cool" />
    <input type="submit" class="btn btn-default">
  </form>
  </span>
</div> -->







