<% if @post.brooklyn_gallery_request %>
<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
	<% @post.brooklyn_gallery_request.each do |item| %>

		<div class="box col6">
			<%= link_to image_tag(item[:image]), item[:url] %>
			<%= item[:title] %>
			<%= item[:description] %>
		</div>

	<% end %> 
</div>
<% else %>
  <%= @post.cooper_hewitt_random_artwork_generator %>
<% end %>