<% if @post.cooper_hewitt_request == nil %>
	<%= @post.cooper_hewitt_random_artwork_generator %>
<% else %>	

	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
  	<% @post.cooper_hewitt_request.each do |item| %>
   
	    <div class="box col6">
	      <%= link_to image_tag(item[:image]), item[:url] %><br/>
	      <%= item[:title] %>
	      <%= item[:description] %>
	    </div>

  	<% end %>
</div>
  
<% end %>