// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500italic,500,100,100italic");



.posts-index {
	font-family: 'Roboto', sans-serif;
	width: 90%;
	margin: 0 auto;

	.button-center {
		text-align: center;

		#button-classic {
			display: block;
			width: 165px;
			margin: 0 auto;
		}
	}

	p > a {
		text-decoration: none !important;
		color: #4a4a4a !important;
	}

	h1 {

		text-align: center;
	}
	
	.post {
		border-bottom: solid 1px #ccc;
		padding: 5px 0;

	}

	.post p {
		font-size: 16px;
		font-weight: 300;
		margin: 4px 0;
		text-align: justify;
		line-height: 1.618em;
		// height: 3.236em;
	}

	// add hover styling for hover effect; see posts.coffee for jQuery toggle
	.post.hover {
		background: #fafafa;
	}

	.post .admin {
		display: none;
	}

	.post.hover .admin {
		display: inline;
	}

	img.dutchmen {
		max-width: 400px;
		height: auto;
	}

	.img-responsive {
		display: block;
		height: auto;
		max-width: 50% !important;
	}
}